.wd-inline-align {
    text-align: left;
    padding-top: 10px;
    padding-inline: 5px;
}

.wd-inline-align span {
    float: right;
}

.wd-assignment-item-padding {
    padding-inline: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wd-assignment-text-padding {
    padding-inline: 5px;
}

.wd-green-pencil {
    font-size: 25px;
    color:green;
}

.wd-assignment-button {
    background-color: lightgray;
    border: solid gray 1px;
    border-color: darkgray;
    padding-inline: 5px;
    border-radius: 10px;
}

.wd-align-text-right {
    text-align: right;
}

.wd-align-text-left {
    text-align: left;
}

.wd-inside-form-card {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-inline: 10px;
}

.wd-inside-form-top {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: left;
    padding-inline: 10px;
}

.wd-inside-form-bottom {
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: left;
    padding-inline: 10px;
}

.wd-assignment-title-link {
    color: black;
    text-decoration: none;
}
