.wd-button-space {
    margin-left: 5px;
    margin-right: 5px;
}

.lab-green-button {
    background-color: green;
    color: white;
}

.lab-red-button {
    background-color: red;
    color: white;
}

.lab-yellow-button {
    background-color:goldenrod;
}

.lab-input {
    width: 20%;
}

.lab-ul-style {
    margin: 5px;
}

.lab-list-style {
    width: 210px;
    list-style: none;
    padding: 5px;
    border: 1px solid grey;
}

.move-right {
    padding-left: 100px;
}