.wd-inline-align {
    text-align: left;
    padding-top: 10px;
    padding-inline: 5px;
}

.wd-inline-align span {
    float: right;
}

.wd-assignment-title-link {
    color: black;
    text-decoration: none;
}

.wd-assignment-button {
    background-color: lightgray;
    border: solid gray 1px;
    border-color: darkgray;
    padding-inline: 5px;
    border-radius: 10px;
}

.wd-assignment-item-padding {
    padding-inline: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wd-assignment-text-padding {
    padding-inline: 5px;
}

.wd-green-pencil {
    font-size: 30px;
    color:green;
}